name: init

on:
    workflow_dispatch:
        inputs:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup Node.js environment
              uses: actions/setup-node@v2.4.1
              with:
                  node-version: '16'
            - run: npm init -y
            - run: npm install -D esbuild typescript
            - run: npm install -S node-html-parser
            - run: npx tsc --init
            - run: echo 'import { parse, HTMLElement } from "node-html-parser";console.log({ parse, HTMLElement });' > test.ts
            - run: npx esbuild test.ts --bundle --outfile=test.js
            - run: node test.js
            - name: Archive production artifacts
              uses: actions/upload-artifact@v2
              with:
                  name: dist
                  path: test.js
